
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.AssemblyInfo.cs
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.AssemblyInfoInputs.cache
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.assets.cache
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.csprojAssemblyReference.cache
YaContest/YaContest/obj/project.assets.json
YaContest/YaContest/obj/YaContest.csproj.nuget.cache
YaContest/YaContest/obj/YaContest.csproj.nuget.dgspec.json
YaContest/YaContest/obj/YaContest.csproj.nuget.g.props
YaContest/YaContest/obj/YaContest.csproj.nuget.g.targets
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.AssemblyInfo.cs
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.AssemblyInfoInputs.cache
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.assets.cache
YaContest/YaContest/obj/Debug/netcoreapp3.1/YaContest.csprojAssemblyReference.cache
YaContest/YaContest/obj/project.assets.json
YaContest/YaContest/obj/YaContest.csproj.nuget.cache
YaContest/YaContest/obj/YaContest.csproj.nuget.dgspec.json
YaContest/YaContest/obj/YaContest.csproj.nuget.g.props
YaContest/YaContest/obj/YaContest.csproj.nuget.g.targets
